body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #388E3C;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 2px solid #388E3C;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
} ca mange du 

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #388E3C;
    }

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    li {
        padding: 5px;
    }

    button {
        padding: 8px 16px;
    } canvas
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    li {
        font-size: 14px;
    }
}
